<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">

<body style="font-family: Arial; font-size: 14px;">

<p>Olá!</p>

<p>Esqueceu a senha?</p>

<p>Solicitação em <span th:text="${#dates.format(#dates.createNow(), 'dd/MM/yyyy - HH:mm')}">01/01/2020 12:30</span></p>

<p></p>
<p>Nome: <span th:text="${usuario.nome}">Teste</span></p>

<p>Login: <span th:text="${usuario.email}">teste@teste.com.br</span></p>

<p>Nova Senha: <span th:text="${novaSenha}">123</span></p>

<p>Sugerimos que acesse o sistema e efetue a alteração da senha.</p>

<p>Obrigado.</p>

<p>Equipe Market Imobi!</p>

</body>
</html>